.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(-45deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(2, 168, 226, 1) 86%, rgba(0, 212, 255, 1) 100%);

    .loginWrapper {
        width: fit-content;
        height: 400px;
        padding: 20px 40px;
        border-radius: 10px;
        background-color: white;

        color: rgb(79, 77, 77);


        .loginTitle {

            font-size: 25px;
            font-weight: 700;
            background: -webkit-linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-left: 5px;
        }

        .loginItem {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            gap: 8px;

            .itemTitle {
                display: flex;
                align-items: center;
                justify-content: start;

                .icon{
                   color: #00d4ff ;
                }

                &>label {
                    font-size: 18px;
                    font-weight: 600;
                    background: -webkit-linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    padding-left: 5px;



                }
            }


            &>input {
                width: 200px;
                padding: 5px;
                font-size: 18px;
                font-weight: 600;
                outline: none;
                border: none;
                color: black;
                border-bottom: 2px solid rgb(215, 207, 207);
            }



        }

        .loginBtn {
            margin: 20px;
            padding: 5px 10px;
            cursor: pointer;
            font-size: 18px;
            border-radius: 5px;
            border: none;
            color: white;
            // background-color: ;
            // background: linear-gradient(90deg, rgb(63, 63, 223) 35%, rgba(2, 168, 226, 1) 86%, rgba(0, 212, 255, 1) 100%);
            background: linear-gradient(90deg, #0072ff 0%, #00d4ff 100%);
        }



    }
}