.chart {
    margin: 10px;
    padding: 20px;
    -webkit-box-shadow: 5px 5px 15px 5px #9E9E9E; 
    box-shadow: 5px 5px 15px 5px #9E9E9E;
     border-radius:5px;
    // border: 2px solid black;
    .chartTitle
    {
        font-weight:800;
    }
}