.user {

    .userTitleContainer {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;

        .userTitle {
            transition: all 2s ease;

            &:hover {
                color: teal;
            }
        }

        .userAddButton {
            transition: all 1s ease;
            cursor: pointer;
            color: white;
            padding: 5px 7px;
            background-color: teal;
            border: none;
            border-radius: 4px;
            font-family: serif;
            font-size: 15px;

            &:hover {
                background-color: rgb(59, 210, 210);
            }

        }



    }

    .userContainer {
        margin: 20px;
        display: flex;
        gap: 20px;


        .userShow {
            flex: 1;
            width: 20px;
            -webkit-box-shadow: 1px 13px 16px 4px #B5B5B5;
            box-shadow: 1px 13px 16px 4px #B5B5B5;
            padding: 20px;
            border-radius: 4px;

            .userShowTop {
                display: flex;
                gap: 20px;

                .userImg {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;

                }

                .userShowTopTitle {
                    display: flex;
                    flex-direction: column;

                    .userName {
                        color: #6439ff;
                        font-weight: 700;
                        font-size: 20px;
                    }




                }
            }


            .userShowButton {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .userShowTitle {
                    font-size: 12px;
                    color: grey;
                }

                .userShowInfo {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    cursor: pointer;


                    .userShowIcon {
                        color: #6439ff;
                        font-size: 16px;

                    }

                    .userShowInfoTitle {
                        font-size: 15px;

                    }

                }
            }


        }

        .userUpdate {
            flex: 2;
            width: 20px;
            -webkit-box-shadow: 1px 13px 16px 4px #B5B5B5;
            box-shadow: 1px 13px 16px 4px #B5B5B5;
            padding: 20px;
            border-radius: 4px;
            display: flex;

            .editContainer {
                display: flex;
                width: 80%;
                gap: 30px;
                margin: 20px;
                justify-content: space-between;

                .userUpdateLeft {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .userUpdateItem {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .userUpdateItem>label {
                            font-size: 14px;
                        }

                        .userUpdadeInput {
                            border: none;
                            width: 300px;
                            height: 30px;
                            border-bottom: 1px solid grey;
                            outline: none;
                            font-size: 18px;
                            color:black;
                        }



                    }
                }


                .userUpdateRight{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .userUpdateLoad{
                        border-radius: 4px;

                    }
                    .userRightUpdateBtn{
                        color: white;
                        background-color: rgb(56, 7, 235);
                        padding: 4px 7px;
                        font-weight: 600;
                        border: none;
                        border-radius: 4px;
                        cursor: pointer;
                        transition: all 2s ease;
                        &:hover{

                            background-color: #4724c5;

                        }
                        
                        
                    

                    }
                }
            }




        }









    }
}